---
const today = new Date();
---

<footer>
	Built with Astro. <br/>
	Find me on <a href="https://github.com/baileydauterman">Github</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		color: darkgray
	}
</style>
